logs/
.project
.classpath
.*~
*~
*.iml
*.log
*.class
.idea
.DS_Store
*.versionsBackup
*.aird
GRTAGS
GPATH
GTAGS
*.settings
target/
native/
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
# Ignore Play! working directory
bin/
.cache
server.pid
